body {
  background: #f5f5f5;
}

.crate {
  width: 80%;
  margin: auto;
  border: 1px dotted black;
  height: 1000px; /* HACK */
}

.game-entry {
  font-family: Lora, Helvetica Neue;
  display: inline-block;
  padding: 20px;
}

.masthead {
  width: 523px;
  height: 192.5px;  /* Set this in JS after getting height of primary picture or figure this out in CSS */
  margin: 10px auto;
  overflow: hidden; /* ehhh */
  cursor: pointer;
}

.masthead .image {
  width: 261px;
}

.image.primary {
  /*border: 2px solid rgb(204, 204, 204);*/
  /*padding: 2px;*/
  float: left;
  height: 192.5px;
  padding-right: 0.5px;
}

.image.secondary {
  height: 96px;
  float: right;
}

.masthead .image.secondary:nth-child(2) {
  padding-bottom: 0.5px;
}

.container {
    margin-left: 20px;
}

.title {
  display: inline-block;
  margin: 10px 0px;
  /*font-family: Bahiana;*/
  font-size: 36px;
}

/*.rating {
  margin: 50px 20px;
  display: inline-block;
  background: red;
  border-radius: 40px;
  padding: 20px;
  margin: 0 10px;
  font-weight: bold;
  float: right;
}*/

.top-section {
  /*display: flex;*/
  align-items: center;
  justify-content: space-between;
  /*display: inline-block;*/
}

.quick-info {
  margin: auto;
  display: inline-block;
  /*align-self: flex-start;*/
  display: flex;
  align-items: center;
}

.rating {
  margin: 0px 5px;
}

.rating .stars,
.rating .rating-number,
.rating .rank {
  display: inline-block;
  padding: 0px 5px;
}

.rating .rating-number {
  font-weight: bold;
}

.rating .star {
  height: 15px;
  width: 15px;
}

.num-reviews {
  font-size: 14px;
}

.categories {
  margin: 10px 10px;
  overflow: hidden;
  /*display: flex;
  justify-content: space-between;
  flex-direction: row;*/
  display: inline-block;
  font-size: 14px;
}

.category {
  margin: 0 3px;
  text-decoration: none;
  flex-grow: 1;
  flex-basis: auto;
  margin: .25em 0;
  padding: 0 14px;
  text-align: center;
  border-right: 1px solid #ccc;
  color: gray;
}

.category:first-child {
  padding-left: 0px;
}

.category:last-child {
  border-right: none;
}

.btn.rate-me {
  background: red;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.primary-stats {
  /*border: 2px black solid;*/
  text-align: left;
  display: table;
  /*margin: 10px;*/
}

.description.card {
  left: 380px;
}

.card {
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.5);
  padding: 10px;
  width: 220px;
  position: absolute;
}

.entry {
  -webkit-flex: 1;
  flex: 1;
}

.entry .icon {
  width: 16px;
  height: 16px;
  margin-left: 10px;
  margin-right: 10px;
}

.entry .label {
  display: inline-block;
}

.critics {
  margin: 20px;
}

.critic {
  display: flex;
  align-items: center;
}

.critic-photo {
  width: 100px;
}

.critic-review {
  margin: 0 20px;
}
