body {
  background: #f5f5f5;
}

.crate {
  width: 80%;
  margin: auto;
  border: 1px dotted black;
  height: 1000px; /* HACK */
}

.game-entry {
  font-family: Lora, Helvetica Neue;
  padding: 20px;
  border: 1px solid black;
  width: 80%;
  margin: 0px auto;
  background: #ECECEC;
}

.masthead {
  width: 90%;
  margin: 10px auto;
  overflow: hidden; /* ehhh */
  cursor: pointer;
  position: relative;
}

.masthead .image {
  width: 261px;
}

.image.primary {
  float: left;
  padding-right: 0.5px;
}

.image.secondary {
  height: 96px;
  position: absolute;
  right: 0px;
}

/* The first secondary image is the 2nd child of the div */
.masthead .image.secondary:nth-child(2) {
  top: 0px;
}

.masthead .image.secondary:nth-child(3) {
  bottom: 0px
}

.container {
    margin: 10px auto;
    padding: 0px 30px;
}

.title {
  display: inline-block;
  margin: 10px 0px;
  /*font-family: Bahiana;*/
  font-size: 36px;
}

.top-section {
  align-items: center;
  justify-content: space-between;
}

.quick-info {
  margin: auto;
  display: inline-block;
  display: flex;
  align-items: center;
}

.rating {
  margin: 0px 5px;
}

.rating .stars,
.rating .rating-number,
.rating .rank {
  display: inline-block;
  padding: 0px 5px;
}

.rating .rating-number {
  font-weight: bold;
}

.rating .star {
  height: 15px;
  width: 15px;
}

.num-reviews {
  font-size: 14px;
}

.categories {
  margin: 10px 10px;
  overflow: hidden;
  display: inline-block;
  font-size: 14px;
}

.category {
  margin: 0 3px;
  text-decoration: none;
  flex-grow: 1;
  flex-basis: auto;
  margin: .25em 0;
  padding: 0 14px;
  text-align: center;
  border-right: 1px solid #ccc;
  color: gray;
}

.category:first-child {
  padding-left: 0px;
}

.category:last-child {
  border-right: none;
}

.btn.rate-me {
  background: red;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.main {
  position: relative;
  margin-top: 20px;
}

.main .section {
  border-top: 1px solid lightgray;
  padding: 15px 0px;
}

.primary-stats {
  display: table;
  margin: 0 auto;
  width: 100%;
}

.primary-stats-row {
  display: table-row;
  line-height: 32px;
}

.entry {
  display: table-cell;
  font-weight: bold;
  font-size: 16px;
}

.entry-icon-wrapper {
  vertical-align: middle;
  display: table-cell;
}

.entry .icon {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
  display: table-cell;
}

.description p {
  margin: 0px;
}

.entry .label {
  display: inline-block;
}

.card {
  box-shadow: 0px 3px 4px -1px rgba(0,0,0,0.5);
  padding: 10px;
  width: 220px;
  position: absolute;
  background: #F5F5F5;
  border-radius: 4px;
}

.accolades p {
  font-weight: bold;
  margin: 0px;
}

.accolades ul {
  margin: 5px 0;
  padding-left: 20px;
}

.critics {
  margin: 20px;
}

.critic {
  display: flex;
  align-items: center;
}

.critic-photo {
  width: 100px;
}

.critic-review {
  margin: 0 20px;
}
