.everything {
  max-width: 900px;
  width: 90%;
  height: 100%;
  margin: auto;
  font-family: Lato, Helvetica Neue;
}

.topnav {
  border: 2px black solid;
  border-radius: 5px;
  display: flex;
  /*height: 100px;*/
  margin: 30px 0;
  justify-content: space-between;
}

.navbar-second {
  display: flex;
}

.navbar-element {
  cursor: pointer;
  padding: 10px;
  display: flex;
  margin: auto 0;
}

.navbar-element.logo {
  font-family: Cabin Sketch;
  color: white;
  background: #4199A9;
  font-size: 47px;

  width: 228px;
}

.search-input {
  border: 2px solid black;
  border-radius: 2px;
  margin: 0 5px;
  width: 300px;
  font-size: 32px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
}

.search-icon,
.hamburger-icon {
  width: 75px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
}





.labeled-item-horizontal .labeled-item-content,
.labeled-item-horizontal .labeled-item-label {
  display: inline-block;
  vertical-align: middle;
}

.navbar .navbar-element .labeled-item-horizontal .labeled-item-content .search-icon {
  width: 50px;
  height: 50px;
}

.body {
  width: 100%;
  display: flex;
}

.section-left {
  width: 30%;
  font-family: Lato, Helvetica Neue;
  margin: 15px 5px;
  float: left;
}

.sidebar-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #095c6e;
  border-radius: 5px;
}

.sidebar-left .list-item {
  padding: 5px;
  border-top: 1px solid black;
}

.sidebar-left .list-item.heading {
  font-weight: bold;
  border-top: none;
  text-align: center;
  background: #4199A9;
  color: white;
}

.section-main {
  height: 600px;
  width: 100%;
  display: inline-block;
  /*margin: 10px 20px;*/
  margin-left: auto;
}

.section-right {
  float: right;
}

.crate {
  height: 100%;
  /*background: #ECECEC;*/
}

.article-feed {
  border: 1px black solid;
  border-radius: 4px;
}

.article-feed a.article-wrapper {
  text-decoration: none;
  color: inherit;
}

.article.labeled-item-horizontal {
  margin: 0 15px;
  padding: 5px;
  display: flex;
  border-bottom: 1px solid black;
  height: 200px;
  font-size: 26px;
}

.article-feed > a:last-child > .article.labeled-item-horizontal {
  border-bottom: none;
}

.article.labeled-item-horizontal > .labeled-item-content {
  display: block;
  overflow: hidden;
  margin: 0 15px;
  height: 150px;
  width: 150px;

  min-width: 150px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

@media only screen and (min-device-width : 480px) {

  .navbar-element.responsive {
    display: block;
  }

  .article.labeled-item-horizontal {
    margin: 0 15px;
    padding: 5px;

    height: auto;
    font-size: 16px;
  }

  .article.labeled-item-horizontal > .labeled-item-content {
    max-width: 25%;
    height: 100px;
    width: 100px;

    min-width: 100px;
    position: initial;
    top: 0;
    transform: none;
  }




}

.article.labeled-item-horizontal > .labeled-item-content > * {
  height: 100%;
  width: 100%;
}

.article.labeled-item-horizontal > .labeled-item-label {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.article.labeled-item-horizontal > .labeled-item-label > .header {
  font-weight: bold;
}

.article.labeled-item-horizontal:hover > .labeled-item-label > .header {
  /*color: #d84c20;*/
  color: #4199A9;
}

.article.labeled-item-horizontal > .labeled-item-label > .author {
  color: gray;
}

.article.labeled-item-horizontal > .labeled-item-label > .synopsis {
}
