body {
  /*background: #f5f5f5;*/
}

a {
  text-decoration: none;
  cursor: pointer;
}

.crate {
  width: 100%;
  margin: auto;
}

.game-entry {
  font-family: Roboto, Lato; /* Cabin Sketch */
  width: 100%;
  margin: 20px auto;
}

.label {
  font-weight: bold;
}

/*.masthead {
  width: 90%;
  margin: 10px auto;
  cursor: pointer;
  position: relative;
}

.masthead .image {
  width: 261px;
}

.image.primary {
  float: left;
  padding-right: 0.5px;
}

.image.secondary {
  height: 96px;
  position: absolute;
  right: 0px;
}

.masthead .image.secondary:nth-child(2) {
  top: 0px;
}

.masthead .image.secondary:nth-child(3) {
  bottom: 0px
}*/

.masthead {
  display: flex;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
}

.mast-sect.left {
  width: 60%;
}

.mast-sect.right {
  width: 40%;
}

.image.primary {
  height: 100%;
  width 100%;
}

.masthead .mast-secondary-wrapper {
  height: 50%;
  width: 100%
}

.image.secondary {
  width: 100%;
}

.container {
    margin: 10px auto;
    padding: 0px 30px;
}

.top-section {
  /*background: #0A7D8F;*/
  align-items: center;
  justify-content: space-between;
}

.title {
  margin: 30px 10px 20px 10px;
  font-size: 52px;  /* 44 */
  font-weight: 200;
  font-family: Alfa Slab One, Helvetica Neue;
}

.rating {
  margin: 0px 20px;
  font-size: 40px;
  display: flex;
}

.rating .stars,
.rating .rating-number,
.rating .rank {
  padding: 0px 10px;
}

.rating .rating-number {
  font-weight: bold;
}

.rating .star {
  height: 30px;
  width: 30px;
}

.num-reviews {
  font-size: 14px;
}

/* Start AB test: centering top section ================================= */

/*.top-section {
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.title {
  margin: 30px 10px 20px 10px;
  font-size: 52px;
  font-weight: 200;
  font-family: Alfa Slab One, Helvetica Neue;
}

.rating {
  margin: 0px 20px;
  font-size: 36px;
  display: inline-flex;
}

.categories {
  margin: 10px 20px;
  font-size: 34px;
  display: inline-flex;
}*/

/* End AB test ================================= */

.categories {
  margin: 10px 20px;
  font-size: 36px;
  display: flex;
}

.category {
  margin: 0 3px;
  text-decoration: none;
  margin: .25em 0;
  padding: 0 14px;
  border-right: 1px solid #ccc;
  color: gray;
}

.category:first-child {
  padding-left: 0px;
}

.category:last-child {
  border-right: none;
}

.btn.rate-me {
  background: red;
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
}

.main {
  position: relative;
  margin-top: 20px;
}

.section {
  padding: 15px 0px;
}

.main .section {
  border-top: 1px solid lightgray;
}

.primary-stats {
  display: grid;
  margin: 0 auto;
  width: 100%;
  font-family: Palanquin Dark, Suez One, Alfa Slab One, Helvetica Neue;
  grid-template-columns: 1fr 1fr;
}

.entry {
  display: flex;
  font-size: 46px;
  margin: 5px auto;
}

.entry-icon-wrapper {
  vertical-align: middle;
}

.entry .labeled-item-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  vertical-align: middle;
}

h2.section-title {
  font-family: Helvetica Neue;
}

.filmstrip {
  background: #D2E0E3;
  padding: 10px;
  text-align: center;
  color: #095C6E;
}

.similar-games .carousel-right .labeled-item.vertical {
  display: inline-block;
  margin: 0 16px;
  vertical-align: middle;
  cursor: pointer;
}

.similar-games .carousel-right .labeled-item.vertical:first-child {
  margin-left: 0;
}

.similar-games .carousel-right .labeled-item.vertical:last-child {
  margin-right: 0;
}

.similar-games .carousel-right .arrow-right {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.similar-games .carousel-right .arrow-right img {
  width: 15px;
  display: inline-block;
}

.similar-games .carousel-right .labeled-item.vertical .labeled-item-content img {
  width: 200px;
  height: 200px;
}

.similar-games .carousel-right .labeled-item.vertical .labeled-item-label {
  text-align: center;
  font-size: 32px;
  font-family: Lato;
  font-weight: bold;
}

.description.expandable.section .section-title {
  margin-bottom: 0;
}

.expandable-wrapper {
  height: 200px;
  overflow: hidden;
  position: relative;
}

.description .expandable-text {
  opacity: 0.6;
  font-size: 46px;
}

.more-btn {
  width: 100px;
  height: 40px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  font-size: 36px;
  border: 2px solid black;
  border-radius: 3px;
  line-height: 36px;
}

.awards .expandable-text {
  text-align: center;
  font-weight: bold;
  font-family: Cabin Sketch;
  font-size: 36px;
  margin: 20px;
}

.critics {
  margin: 20px;
}

.critic {
  display: flex;
  align-items: center;
}

.critic-photo {
  width: 100px;
}

.critic-review {
  margin: 0 20px;
}

.credits,
.publishers {
  font-size: 12px;
}

.credits.section .label {
  /*font-weight: bold;*/
}

.credits.section .labeled-span-texts .value {
  cursor: pointer;
}


@media only screen and (min-device-width : 480px) {

  .game-entry {
    width: 80%;
    max-width: 630px;
  }

  .game-entry * {
    font-size: 16px;
  }

  .title {
    font-size: 30px;
  }

  .rating {
    font-size: 16px;
  }

  .rating .star {
    height: 20px;
    width: 20px;
  }

  .categories {
    font-size: 14px;
  }

  .primary-stats .entry {
    font-size: 16px;
  }

  .similar-games .carousel-right .labeled-item.vertical .labeled-item-content img {
    width: 100px;
    height: 100px;
  }

  .similar-games .carousel-right .labeled-item.vertical .labeled-item-label {
    font-size: 16px;
  }

  .description .description-text {
    font-size: 16px;
  }

  .awards .award {
    font-size: 18px;
  }

  .credits div {
    font-size: 16px;
  }

}
